<!DOCTYPE html>  

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="min-content">
             {{>header}} 
              <img src="img/icon.jpg">
              <p>this site is created by hemanjana. It uses data from mapbox.com and darknet.com</p>
        </div>
       
        {{>footer}}
    </body>
</html>