

<header>
    <h1>{{title}}</h1>
    <a href="/">weather</a>
    <a href="/about">about</a>
</header>

<!--use this in other page for headers  ,,, if you use nodemon , nodedmon will restart wheneverr there is change in  js file but when you save hbs file serverr wont restart. for that make working again you have to run nodemon.-->